flask-mail==0.9.1
flask-oauth==0.12
flask_oauthlib==0.9.5
gevent==1.4.0
impyla==0.16.1
infi.clickhouse-orm==1.0.2
mysqlclient==1.4.2
psycopg2-binary==2.7.6.1
pyathena==1.5.1
pybigquery==0.4.10
pydruid==0.5.7
pyhive==0.5.1
pyldap==2.4.28
pymssql==2.1.4
redis==4.5.3
sqlalchemy-clickhouse==0.1.5.post0
sqlalchemy-redshift==0.7.1
gevent==1.4.0
gunicorn==20.0.0
