
[Unit]
Description = Apache Superset, A modern, enterprise-ready business intelligence web application
After = network.target

[Service]
PIDFile = '{{ SUPERSET_HOME }}/superset.PIDFile'
User = superset
Group = superset
Environment=SUPERSET_HOME='{{ SUPERSET_HOME }}'
WorkingDirectory = '{{ SUPERSET_HOME }}'
ExecStart = /usr/local/bin/celery worker --app=superset.tasks.celery_app:app --pool={{ CELERY_POOL }} -Ofair -c {{ CELERY_WORKER }}
ExecStop = /bin/kill -s TERM $MAINPID


[Install]
WantedBy=multi-user.target
