flask-cors==3.0.3
flask-mail==0.9.1
flask-oauth==0.12
flask_oauthlib==0.9.5
mysqlclient==1.4.2
psycopg2-binary==2.7.6.1
pyhive==0.5.1
redis==3.2.1
sqlalchemy-clickhouse==0.1.5.post0
sqlalchemy-redshift==0.7.1
gevent==1.4.0
